body {
  font-family: sans-serif;
  color: #555;
}

.main-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.day-picker-selection {
  background-color: white;
  color: black;
}

li.CodeMirror-hint-active.custom{
  background: white;
  
  .hint-value {
      color: white;
  }
}

ul.CodeMirror-hints {
  max-height: 300px;
}

span {
  &.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;

    &.info {
      color: #fff;
      background-color: #007fff;
    }

    &.debug {
      color: #000;
      background-color: #ddd;
    }

    &.trace {
      color: #777;
      background-color: #ddd;
    }

    &.warn {
      color: #000;
      background-color: #ffc107;
    }
    
    &.error {
      color: #fff;
      background-color: #dc3545;
    }
  }
}